.main-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-post {
    width: 602px;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.three-dots {
    width: 30px;
}

.post-box {
    border: 1px solid grey;
    width: 602px;
    height: 801.5px;
}

.prof-pic-post {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.postbox-image {
    width: 600px;
    height: 450px;
    object-fit: cover;
}

.image-prof-details {
    display: flex;
    width: 552px;
    padding: 14px 4px 14px 16px;
    align-items: center;
    gap: 10px;
}

.post-icons {
    width: 602px;
    margin: 4px 0 0;
    height: 54px;
    padding: 6px 16px 8px;
    display: flex;
}

.heart-div {
    width: 40px;
    height: 40px;
    padding: 8px;
}

.heart-icon {
    width: 24px;
    height: 24px;
}

.comment-div {
    height: 40px;
    width: 40px;
    padding: 8px;
}

.comment-icon {
    width: 24px;
    height: 24px;
}

.send-div {
    height: 40px;
    width: 40px;
    padding: 8px;
}

.send-icon {
    width: 24px;
    height: 24px;
}
