* {
  font-size: 14px;
}

.main-homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-description-individual {
  width: 40%;
}

.header-post {
  width: 602px;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.header-post-individual {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid rgba(116, 114, 114, 0.5);
}

.comment-list {
  overflow-y: scroll;
  height: 60%;
  list-style: none;
  padding: 16px;
  border-bottom: 1px solid rgba(116, 114, 114, 0.5);
}

.individual-li {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin: -5px -2px 0 0;
  padding: 12px 0 16px;
  width: 100%;
}

.three-dots {
  width: 30px;
  cursor: pointer;
}

.post-box {
  background-color: white;
  border: 1px solid lightgray;
  width: 602px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 3px;
}

.prof-pic-post {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.prof-details-username {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.postbox-image {
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.image-prof-details {
  display: flex;
  width: 552px;
  padding: 14px 4px 14px 16px;
  align-items: center;
  gap: 10px;
}

.image-prof-details-individual {
  display: flex;
  width: 100%;
  padding: 14px 4px 14px 16px;
  align-items: center;
  gap: 10px;
}

.post-icons {
  width: 602px;
  margin: 4px 0 0;
  height: 54px;
  padding: 6px 6px 8px;
  display: flex;
}

.post-icons-individual {
  width: 100%;
  margin: 4px 0 0;
  height: 10%;
  padding: 6px 6px 8px;
  display: flex;
}

.heart-div {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.heart-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.fatHeart {
  color: red;
  cursor: pointer;
}

.comment-div {
  height: 40px;
  width: 40px;
  padding: 8px;
}

.comment-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.send-div {
  height: 40px;
  width: 40px;
  padding: 8px;
  cursor: pointer;
}

#modal-contentTwo {
  position: absolute;
  background-color: white;
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

.send-icon {
  width: 24px;
  height: 24px;
}

.likes {
  width: 602px;
  height: 18px;
  margin: 0 0 8px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 800;
}

.likes-individual {
  width: 100%;
  height: 5%;
  margin: 0 0 8px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 800;
}

.individual-post {
  display: flex;
  height: 100%;
}

.red-icon {
  color: red;
}

.individual-post-image {
  width: 60%;
  object-fit: cover;
  border-right: 1px solid lightgray;
}

.followers-header {
  border-bottom: 1px solid rgba(116, 114, 114, 0.5);
}

.user-prof-followers-button {
  cursor: pointer;
}

.followers-header {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.owner-post-options {
  display: flex;
  width: 100%;
  border-top: 1px solid rgba(116, 114, 114, 0.5);
}

.followers-list-followers-list {
  overflow-y: scroll;
  padding: 0;
}

.update-post-user{
    border: none;
    background-color: white;
    color: red;
    cursor: pointer;
    font-weight: 700;
    width: 50%;
    padding-top: 8px;
}

.follower-box {
  display: flex;
  padding: 8px 16px;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.follower-list-prof-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.update-post-user:hover {
  background-color: rgba(116, 114, 114, 0.5);
}

.delete-post-button {
  border: none;
  color: red;
  font-weight: 700;
  cursor: pointer;
  background-color: white;
  width: 50%;
  padding-top: 8px;
}

.delete-post-button:hover {
  background-color: rgba(116, 114, 114, 0.5);
}

.postbox-view-comments {
  position: relative;
}

.postbox-caption-comments {
  width: 600px;
  height: auto;
  padding: 0 16px;
  padding-bottom: 5px;

}

.delete-icon-dots {
  cursor: pointer;
}
.delete-icon-dots-post {
  cursor: pointer;
}

.comment-option-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.update-comment-text {
  display: flex;
  align-items: center;
  height: 75%;
}

.update-comment-textarea {
}

.delete-comment-button {
  height: 25%;
  border: none;
  color: red;
  background-color: white;
  font-weight: 700;
  cursor: pointer;
}

.delete-comment-button:hover {
  background-color: rgb(226, 226, 226);
}

.postbox-caption {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 568px;
  height: 40px;
  position: relative;
}

.postbox-caption-username {
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  color: black;
}

.postbox-caption-username-individual {
  font-size: 14px;
  font-weight: 800;
  padding: 0, 10px;
}

.view-comments-button {
  color: grey;
  cursor: pointer;
}

.add-comment-box {
  width: 600px;
  height: 53px;
  padding: 6px 16px;
  display: flex;
  border-top: 1px solid lightgray;
  align-items: center;
}

.add-comment-box-individual {
  width: 100%;
  height: 10%;
  padding: 6px 16px;
  display: flex;
  border-top: 1px solid grey;
  align-items: center;
}

.smile-div {
  width: 40px;
  height: 40px;
  padding: 8px 16px 8px 0;
}

.smileface-icon {
  width: 24px;
  height: 24px;
}

.enter-comment-box {
  border: none;
  width: 497.85px;
  height: 18px;
  resize: none;
  overflow: hidden;
  outline: none;
}

.enter-comment-box-individual {
  border: none;
  width: 90%;
  height: 18px;
  resize: none;
  overflow: hidden;
  outline: none;
}

.post-comment-button {
  color: #0095f6;
  background-color: white;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
