.user-profile-container {
  background-color: rgb(250, 250, 250);
  height: 100vh;
}

.user-profile-info-container {
  margin: 0 auto;
  padding-top: 40px;
  /* width: 80%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.user-profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 45%;
}

.user-profile-info-content {
  width: 300px;
}

.user-profile-header {
  font-size: 100px;
  font-family: "Source Sans Pro", sans-serif;
}
